<div class="w-full h-full flex justify-center pt-20">
  <div>
    <header>
      <h1 class="text-3xl font-bold" data-attr="feedback-lineup">Feedback Friday!</h1>
      <p class="pt-2 text-gray-600">
        Happy Feedbacking!
      </p>
    </header>

    <section class="pt-8">
      <header>
        <h2 class="text-2xl font-bold">Today's lineup</h2>
        <% if @feedback_lineup.feedback_lineup_groups.count > 0 %>
          <p class="pt-2 text-sm text-gray-600">
            In case you need help: <%= @feedback_lineup.feedback_lineup_groups.first.feedback_giver %> is giving feedback to <%= @feedback_lineup.feedback_lineup_groups.first.feedback_receiver %>.
          </p>
        <% end %>
      </header>

      <ul class="mt-4">
        <% @feedback_lineup.feedback_lineup_groups.each do |group| %>
          <li class="mt-4 text-xl">
            <span data-attr="feedback-group-feedback-giver"><%= group.feedback_giver %></span>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline ml-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
            <span class="pl-2" data-attr="feedback-group-feedback-receiver"><%= group.feedback_receiver %></span>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="pt-8">
      <header>
        <h2 class="text-2xl font-bold" data-attr="feedback-rotations">Feedback Rotations</h2>
        <p class="pt-2 text-sm text-gray-600">
          Here's how to breakdown your feedback sessions.
        </p>
      </header>

      <% @feedback_rotations.each.with_index do |rotation_group, idx| %>
        <h3 class="mt-6 text-xl font-bold"><%= "Round #{idx + 1}" %></h3>
        <% rotation_group.each do |rotation| %>
          <div class="mt-4 text-xl">
            <span data-attr=<%= "feedback-rotations-#{idx}-giver" %>><%= rotation.feedback_giver %></span>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline ml-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
            <span class="pl-2" data-attr=<%= "feedback-rotations-#{idx}-receiver" %>><%= rotation.feedback_receiver %></span>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
