<div class="w-full h-full flex justify-center pt-20">
  <div>
    <header>
      <h1 class="text-3xl font-bold" data-attr="title">Feedback Friday!</h1>
      <p class="pt-2 text-gray-600">
        Feedback Friday helps teams give each other feedback. Add everyone on your team and Feedback Friday will figure out who gives feedback to whom.
      </p>
    </header>

    <div class="pt-8">
      <h2 class="text-xl">Who's on your team?</h2>

      <%= form_for @feedback_session, class: "pt-2" do |form| %>
        <div data-controller="fields-for" data-fields-for-index-value="1">
          <%= form.fields_for :feedback_session_teammates do |teammate_form| %>
            <%= render "feedback_session_teammates/fields", teammate_form: teammate_form %>
          <% end %>

          <%= button_tag(
            "Add another teammate",
            {
              type: "button",
              class: "mt-6 py-1 px-4 border border-gray-400 group hover:bg-gray-600 hover:text-white",
              data:
              {
                attr: "new-teammate",
                action: "fields-for#add",
                fields: form.fields_for(:feedback_session_teammates, FeedbackSessionTeammate.new, child_index: "new_field") { |teammate_form| render("feedback_session_teammates/fields", teammate_form: teammate_form) }
              }
            }
          ) %>
        </div>

        <%= form.submit "Create Feedback Session", class: "mt-8 p-2 block w-full bg-indigo-600 text-indigo-50 cursor-pointer hover:bg-indigo-800" %>
      <% end %>
    </div>
  </div>
</div>
