<h1 data-attr="title">Feedback Friday!</h1>

<%= form_for @feedback_session do |form| %>
  <div data-controller="fields-for" data-fields-for-index-value="1">
    <%= form.fields_for :feedback_session_teammates do |teammate_form| %>
      <%= render "feedback_session_teammates/fields", teammate_form: teammate_form %>
    <% end %>

    <%= button_tag(
      "Add another teammate",
      {
        type: "button",
        data:
        {
          attr: "new-teammate",
          action: "fields-for#add",
          fields: form.fields_for(:feedback_session_teammates, FeedbackSessionTeammate.new, child_index: "new_field") { |teammate_form| render("feedback_session_teammates/fields", teammate_form: teammate_form) }
        }
      }
    ) %>
  </div>

  <%= form.submit "Create Feedback Session" %>
<% end %>
