<h1 data-attr="feedback-lineup">Today's Feedback Lineup</h1>

<%= form_for @feedback_lineup do |form| %>
  <%= form.fields_for :feedback_lineup_groups do |group_form| %>
    <%= group_form.hidden_field :feedback_giver %>
    <%= group_form.hidden_field :feedback_receiver %>
  <% end %>

  <ul>
    <% @feedback_lineup.feedback_lineup_groups.each do |group| %>
      <li>
        <span data-attr="feedback-group-feedback-giver"><%= group.feedback_giver %></span>
        <span data-attr="feedback-group-feedback-receiver"><%= group.feedback_receiver %></span>
      </li>
    <% end %>
  </ul>

  <%= form.submit "Looks good", data: { attr: 'verify-feedback-lineup' } %>
<% end %>
