<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackFriday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="w-full text-right py-2 px-6">
      <% unless current_page?(root_path) %>
        <%= link_to "Start over", root_path, class: "underline", data: { attr: 'start-over-link' } %>
      <% end %>
    </nav>

    <main class="mx-auto max-w-2xl mt-20 mb-16">
      <% if flash[:errors] %>
        <div class="bg-red-200 p-2 mb-8">
          <span class="text-red-800"><%= flash[:errors].to_sentence %></span>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
