<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackFriday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="float-right py-2 px-6">
      <% unless current_page?(root_path) %>
        <%= link_to "Start over", root_path, class: "underline", data: { attr: 'start-over-link' } %>
      <% end %>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
